In [1]:
import pandas as pd
path = "c:\\Users\\ADMIN\\Downloads\\introduction_pandas"
data = pd.read_csv(path + "/covid-19.csv")
data.head()

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [2]:
data = data.iloc[:, 1:]
data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [3]:
mask = data["geoId"] == "US"
us_data = data[mask]
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
575,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America
576,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America
577,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America
578,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America
579,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America

In [7]:
us_data = us_data.reset_index(drop=True)
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America

In [9]:
total_rows = len(us_data)
print(total_rows)

115

In [10]:
us_data["cumulative_cases"] = 0
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulative_cases
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,0
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,0
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,0
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,0
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,0

In [11]:
for i in range(total_rows-2, -1, -1):
    us_data.loc[i, "cumulative_cases"] = us_data.loc[i, "cases"] + us_data.loc[i + 1, "cumulative_cases"]

In [16]:
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulative_cases
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086

In [17]:
us_data["cases_per_day"] = 0
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulative_cases,cases_per_day
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629,0
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041,0
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752,0
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687,0
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086,0

In [18]:
for i in range(0, total_rows-1, 1):
    us_data.loc[i, "cases_per_day"] = us_data.loc[i, "cumulative_cases"] - us_data.loc[i+1, "cumulative_cases"]

In [19]:
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulative_cases,cases_per_day
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629,17588
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041,37289
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752,28065
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687,24601
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086,32922

In [20]:
us_data["growth_ratio"] = 0
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulative_cases,cases_per_day,growth_ratio
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629,17588,0
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041,37289,0
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752,28065,0
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687,24601,0
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086,32922,0

In [23]:
for i in range(0, total_rows-1, 1):
    us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
us_data.head()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_24808\4100100318.py:2: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "cases_per_day"] / us_data.loc[i+1, "cases_per_day"]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulative_cases,cases_per_day,growth_ratio
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629,17588,0.471667
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041,37289,1.328666
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752,28065,1.140807
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687,24601,0.747251
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086,32922,1.067752