In [18]:
!pwd

'pwd' n'est pas reconnu en tant que commande interne
ou externe, un programme exï¿½cutable ou un fichier de commandes.

In [19]:
pwd

'c:\\Users\\ADMIN\\Downloads\\introduction_pandas'

In [20]:
path = "c:\\Users\\ADMIN\\Downloads\\introduction_pandas"

In [21]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv(path + "/covid-19.csv")

In [24]:
print(df.info())
print(df.shape)
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               690 non-null    int64
 1   dateRep                  690 non-null    object
 2   day                      690 non-null    int64
 3   month                    690 non-null    int64
 4   year                     690 non-null    int64
 5   cases                    690 non-null    int64
 6   deaths                   690 non-null    int64
 7   countriesAndTerritories  690 non-null    object
 8   geoId                    690 non-null    object
 9   countryterritoryCode     690 non-null    object
 10  popData2018              690 non-null    float64
 11  continentExp             690 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 64.8+ KB
None
(690, 12)

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe
5,1262,2020-04-18,18,4,2020,1329,306,Belgium,BE,BEL,11422068.0,Europe
6,1263,2020-04-17,17,4,2020,1236,417,Belgium,BE,BEL,11422068.0,Europe
7,1264,2020-04-16,16,4,2020,2454,283,Belgium,BE,BEL,11422068.0,Europe
8,1265,2020-04-15,15,4,2020,530,254,Belgium,BE,BEL,11422068.0,Europe
9,1266,2020-04-14,14,4,2020,942,303,Belgium,BE,BEL,11422068.0,Europe

In [25]:
df.describe()

,Unnamed: 0,day,month,year,cases,deaths,popData2018
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,6.900000e+02
mean,7785.666667,15.078261,2.486957,2019.991304,2221.565217,201.866667,9.653679e+07
std,4174.782873,8.616804,1.405144,0.092912,5717.666660,446.431768,1.049538e+08
min,1257.000000,1.000000,1.000000,2019.000000,0.000000,0.000000,1.142207e+07
25%,4200.250000,8.000000,1.000000,2020.000000,0.000000,0.000000,4.672375e+07
50%,8482.500000,15.000000,2.000000,2020.000000,3.000000,0.000000,6.346014e+07
75%,12040.750000,22.000000,3.000000,2020.000000,1870.000000,202.750000,6.698724e+07
max,12251.000000,31.000000,12.000000,2020.000000,37289.000000,4928.000000,3.271674e+08

In [26]:
df.count()

Unnamed: 0                 690
dateRep                    690
day                        690
month                      690
year                       690
cases                      690
deaths                     690
countriesAndTerritories    690
geoId                      690
countryterritoryCode       690
popData2018                690
continentExp               690
dtype: int64

In [27]:
df.max()

Unnamed: 0                                    12251
dateRep                                  2020-04-23
day                                              31
month                                            12
year                                           2020
cases                                         37289
deaths                                         4928
countriesAndTerritories    United_States_of_America
geoId                                            US
countryterritoryCode                            USA
popData2018                             327167434.0
continentExp                                 Europe
dtype: object

In [28]:
df = df.iloc[:, 1:]
df.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [30]:
us_mask = df["geoId"] =="US"
df[mask]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
110,2020-01-04,4,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
111,2020-01-03,3,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
112,2020-01-02,2,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
113,2020-01-01,1,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
114,2019-12-31,31,12,2019,0,0,Belgium,BE,BEL,11422068.0,Europe